* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #eee;
}

/* 计算器盒子 */
.calculator {
	/* css变数 */
	--button-width: 80px;
	--button-height: 80px;
	/* grid布局 */
	display: grid;
	grid-template-areas:
		"result result result result"
		"ac plus-minus percent divide"
		"number-7 number-8 number-9 multiply"
		"number-4 number-5 number-6 subtract"
		"number-1 number-2 number-3 add"
		"number-0 number-0 dot equal";
	grid-template-columns: repeat(4, var(--button-width));
	grid-template-rows: repeat(6, var(--button-height));
	/* 计算器盒子阴影 */
	box-shadow: -8px -8px 16px -10px rgba(255, 255, 255, 1),
		8px 8px 16px -10px rgba(0, 0, 0, .2);
	padding: 24px;
	border-radius: 20px;
}

/* 按钮拟态化效果 */
.calculator button {
	margin: 8px;
	padding: 0;
	border: none;
	outline: none;
	border-radius: calc(var(--button-width)/2);
	font-size: 24px;
	color: #999;
	background: linear-gradient(135deg, rgb(230, 230, 230, 1) 0%,
		rgba(246, 246, 246, 1) 100%);
	box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1),
		4px 4px 10px -8px rgba(0, 0, 0, .3);
}

/* 点击按钮凹下效果 */
.calculator button:active {
	box-shadow: -4px -4px 10px -8px rgba(255, 255, 255, 1) inset,
		4px 4px 10px -8px rgba(0, 0, 0, .3) inset;
}

/* 计算结果框 */
.result {
	text-align: right;
	font-size: 48px;
	line-height: calc(var(--button-height));
	padding: 0 10px;
	color: #666;
	overflow: hidden;
}

.result .display {
	position: relative;
	float: right;
}
